/* nav bar style */
nav{
  display: inline-block;
  background-color: #BEE5BD;
  width: 100%;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  font-variant: small-caps;
  font-size: 110%;
}

nav ul{
  text-align: center;
  padding: 0;
}

nav ul li{
  display: inline-block;
  padding: 4px;
}

nav ul li a{
  text-decoration: none;
  padding: 20px;
}

nav a:hover{
  background-color: #C3E3E3;
}
