html {
    font-family: sans-serif;
}

.face ul {

}
h1 {
    margin: 0px;
}

.face {
    position: relative;
    width: 806px;
    height: 348px;
    left: 446px;
    top: 910px;

}

.clothing {
    position: absolute;
    width: 657px;
    height: 246px;
    left: 581px;
    top: 1343px;
}

.profile{
  display: flex;
  flex-direction: row;
}

.maker {
  display: flex;
  flex-direction: row;
}

.maker div {
  margin: 10%;
  margin-top: 0;
}

.basic_info2{
    position: absolute;
    width: 296px;
    height: 55px;
    left: 500px;
    top: 100px;
}
